.main{
    text-align: center;
    border: 1px solid;
    width: 40%;
    margin: 0px auto;
    margin-top: 50px;
    background-color: rgb(35, 35, 35);
    height: 310px;
}
.text{
    padding: 10px;
    max-width: 100%;
    width: 100%;
    margin-bottom: 20px;
    outline: 0;
    border: 3px solid black;
    background-color: rgb(35 , 35 , 35);
    color: white;
    font-weight: 600;
}
.sign-btn{
color: white;
background-color: rgb(10, 10, 10);
border: 0;
width: 20%;
padding: 10px;
}
.sign-btn:hover{
    color: white;
background-color: gray;
border: 0;
width: 20%;
padding: 10px;
}
.num-btn{
    color: white;
    background-color: rgb(10, 10, 10);
border: 0;
    width: 25%;
    padding: 10px;
    margin-top: 3px;
}
.num-btn:hover{
    color: white;
    background-color: gray;
border: 0;
    width: 25%;
    padding: 10px;
    margin-top: 3px;
}
.mul-btn{
    color: white;
    background-color: rgb(10, 10, 10);
border: 0;
    width: 20%;
    margin-top: 3px;
    padding: 10px;
}
.mul-btn:hover{
    color: white;
    background-color: gray;
border: 0;
    width: 20%;
    margin-top: 3px;
    padding: 10px;
}
.sign2-btn{
    color: white;
    background-color: rgb(10, 10, 10);
border: 0;
    width: 32%;
    padding: 9px;
    margin-top: 3px;
}

.sign2-btn:hover{
    color: white;
    background-color: gray;
border: 0;
    width: 32%;
    padding: 9px;
    margin-top: 3px;
}

.sign3-btn{
    color: white;
    background-color: rgb(14, 14, 151);
border: 0;
    width: 32%;
    padding: 9px;
    margin-top: 3px;
}

.sign3-btn:hover{
    color: white;
    background-color: rgb(65, 65, 231);
border: 0;
    width: 32%;
    padding: 9px;
    margin-top: 3px;
}


@media(max-width:661px){
    .main{
        text-align: center;
        border: 1px solid;
        width: 50%;
        margin: 0px auto;
        margin-top: 50px;
        background-color: rgb(35, 35, 35);
        height: auto;
    }
       
}


@media(max-width:529px){
    .main{
        text-align: center;
        border: 1px solid;
        width: 60%;
        margin: 0px auto;
        margin-top: 50px;
        background-color: rgb(35, 35, 35);
        height: auto;
    }
       
}


@media(max-width:440px){
    .main{
        text-align: center;
        border: 1px solid;
        width: 100%;
        margin: 0px auto;
        margin-top: 50px;
        background-color: rgb(35, 35, 35);
        height: auto;
    }
       
}